{{define "specific"}}{{$cs := .CoinShortcut}}{{$bb := .Info.Blockbook}}{{$be := .Info.Backend}}{{$blocks := .Blocks}}
{{ $lastdenom := subtract (len $be.ZerocoinSupply) 1 }}{{ $zctot := index $be.ZerocoinSupply $lastdenom}}
{{- if $bb.InitialSync -}}
<h3 class="bg-danger text-white" style="padding: 20px;">Application is now in initial synchronization and does not provide any data.</h3>
{{- end -}}
{{- if not $bb.SyncMode -}}
<h3 class="bg-warning text-white" style="padding: 20px;">Synchronization with backend is disabled, the state of index is not up to date.</h3>
{{- end -}}
{{- if .InternalExplorer -}}
<h1 align="center">{{.CoinLabel}} Block Explorer</h1>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 form-group">
        <form id="search" action="/search" method="get">
            <input name="q" type="text" class="form-control" placeholder="Search for block, transaction or address" focus="true">
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
{{- end -}}
<div class="row">
    <div class="col-md-6">
        <h3>Block index</h3>
        <table class="table data-table">
            <tbody>
                <tr>
                    <td style="width: 30%;">Last Indexed Block</td>
                    <td class="data">
                        {{- if .InternalExplorer -}}
                            <a href="/block/{{$bb.BestHeight}}">{{$bb.BestHeight}}</a>
                        {{else}}
                            {{$bb.BestHeight}}
                        {{- end -}}
                    </td>
                </tr>
                <tr>
                    <td>Best Block Hash</td>
                    <td class="data ellipsis">{{$be.Bestblockhash}}</td>
                </tr>
                <tr>
                    <td>Last Block Update</td>
                    <td class="data">{{formatTime $bb.LastBlockTime}}</td>
                </tr>
                <tr>
                    <td>Last Mempool Update</td>
                    <td class="data">{{formatTime $bb.LastMempoolTime}}</td>
                </tr>
                <tr>
                    <td>PoW Difficulty</td>
                    <td class="data">{{$be.PoWDiff}}</td>
                </tr>
                <tr>
                    <td>PoS Difficulty</td>
                    <td class="data">{{$be.PoSDiff}}</td>
                </tr>
                <tr>
                    <td>Next Superblock</td>
                    <td class="data">{{$be.NextSuperBlock}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <h3>{{$cs}} supply</h3>
        <table class="table data-table">
            <tbody>
                <tr>
                    <td style="width: 27%;">Total Supply</td>
                    <td style="width: 33%;"></td>
                    <td class="data">{{formatSatoshis $be.MoneySupply}}&nbsp;{{$cs}}</td>
                </tr>
                <tr title="amount and % over total supply">
                    <td class="center-aligned">Zerocoin Supply</td>
                    <td class="center-aligned"><em>Total</em></td>
                    <td><span class="data"> &nbsp;{{formatSatoshisZC $zctot.Amount}}&nbsp;z{{$cs}}</span>&nbsp;<em>({{ formatPercent $zctot.Percent }})</em></td>
                </tr>
                {{- range $index, $d := $be.ZerocoinSupply -}}
                    {{- if ne $d.Denom "total" -}}
                    <tr title="amount and % over total supply">
                        <td class="center-aligned">{{ $d.Denom }}-denom</td>
                        <td class="center-aligned data">{{formatDenom $d}}</td>
                        <td><span class="data"> &nbsp;{{formatSatoshisZC $d.Amount}}&nbsp;z{{$cs}}</span>&nbsp;<em>({{ formatPercent $d.Percent }})</em></td>
                    </tr>
                    {{- end -}}
                {{- end -}}
            </tbody>
        </table>
    </div>
</div>
<h3 style="display: inline;">Last blocks</h3> &nbsp;(<a href='/blocks'>see all</a>)
<div class="data-div">
    <table class="table table-striped data-table table-hover">
        <thead>
            <tr>
                <th style="width: 11%;">Height</th>
                <th style="width: 46%;">Hash</th>
                <th>Timestamp</th>
                <th class="text-right" style="width: 6%;">Type</th>
                <th class="text-right" title="number of Transactions in block" style="width: 7%;">TXs</th>
                <th class="text-right" title="size in Bytes" style="width: 11%;">Size</th>
            </tr>
        </thead>
        <tbody>
            {{- range $b := $blocks.Blocks -}}
            <tr>
                <td><a href="/block/{{$b.Height}}">{{$b.Height}}</a></td>
                <td class="ellipsis">{{$b.Hash}}</td>
                <td>{{formatUnixTime $b.Time}}</td>
                <td class="text-right">{{formatBlockTypeShort $b.Type}}</td>
                <td class="text-right">{{$b.Txs}}</td>
                <td class="text-right">{{$b.Size}}</td>
            </tr>
            {{- end -}}
        </tbody>
    </table>
</div>
{{end}}
